body {
  margin: 0;
  padding: 0;
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.bt {
  position: absolute;
  top: 100%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 180px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: sans-serif;
  box-sizing: border-box;
  background: linear-gradient(90deg, #00aaff, #0055ff);
  background-size: 300%;
  border-radius: 30px;
  z-index: 1;
  opacity: 0; /* Initially hidden */
  transform: translate3d(0, 50px, 0); /* Initial position */
  animation: fadeInUp 1s ease-in-out 3s forwards; /* Animation name, duration, timing function, delay */
}
.bt.animation-ended {
  animation: none;
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.bt.visible {
  opacity: 1;
}

@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
.bt:before {
  content: " ";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #00aaff, #0055ff);
  background-size: 300%;
  border-radius: 40px;
  opacity: 0;
  transition: 0.5s;
}

.bt::before {
  filter: blur(20px);
  opacity: 1;
  animation: animate 8s linear infinite;
}
